<%- include ("templates/encabezado") %>
<%- include ("templates/menu") %>
<h1>BIENVENIDO A LOS INICIOS DE GOLOCALLY</h1>
<P>Registrate para poder acceder a tu cuenta y subir tu negocio</P>
<%- include ("templates/pie") %>