<%- include ("templates/encabezado") %>
<%- include ("templates/menulogin") %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="stylesheet" href="/web/css/estiloinicio.css">
</head>
<body>
    <div class="fondo">
        <div class="bienvenido">
            <h1>BIENVENIDO <%=usuario%></h1>
            <h2>BUSCA ALGO EN NUESTRO SITIO</h2>
            <input type="text" class="buscar">
        </div>
        <img src="https://4kwallpapers.com/images/wallpapers/blue-sky-half-moon-crescent-moon-clouds-star-trails-5k-3840x2160-8404.png" alt="">
    </div>
      
    <div class="contenedor-imagen">
        
        <img src="https://especializate.usat.edu.pe/wp-content/uploads/2021/12/importancia-negocios-digitales.jpg" alt="" class="img"/>
        <div class="capa-opacidad"></div>
        <div class="contenido-centrado">
            <h2>GOLOCALLY</h2>
            <br>
            <p>Nos dedicamos a promocionar tu negocio para que todo el mundo sepa de ti.</p>
            
        </div>
    </div> 
    <div class="cont-menu">
        <h1>ENCUENTRA TU NEGOCIO</h1>
        <div class="cont-op1">
            <div class="neg1">
                <img src="https://img2.rtve.es/i/?w=1600&i=1638441369011.jpg" alt="">
                <div>
                    <h6>FRUTERIA</h6>
                    <p>San Juan del Rio, Qro.</p>
                    <p>427 127 8629</p>
                    <p>Abierto - Cierra a las 19:00</p>
                    <p>Compras en tienda</p>
                    <button>Leer mas</button>
                </div>
            </div>
            <div class="neg2">
                <img src="https://images.adsttc.com/media/images/5ca7/72d5/284d/d153/3000/01f3/newsletter/UC8A1834.jpg?1554477741" alt="">
                <div>
                    <h6>CAFETERIA</h6>
                    <p>San Juan del Rio, Qro.</p>
                    <p>444 123 6767</p>
                    <p>Cerrado - Abre a las 9:00</p>
                    <p>Consumo en el lugar</p>
                    <button>Leer mas</button>
                </div>
            </div>
        </div>
        <div class="cont-op2">
            <div class="neg3">
                <img src="https://www.elsoldemexico.com.mx/cultura/8m8odi-artesanos-.png/ALTERNATES/LANDSCAPE_768/Artesanos%20%20.png" alt="">
                <div>
                    <h6>ARTESANIAS</h6>
                    <p>San Juan del Rio, Qro.</p>
                    <p>427 767 7852</p>
                    <p>Abierto - Cierra a las 20:00</p>
                    <p>Compras en tienda</p>
                    <button>Leer mas</button>
                </div>
            </div>
            <div class="neg4">
                <img src="https://vallartasupermarkets.com/wp-content/uploads/2020/12/DulceriaHero.jpg" alt="">
                <div>
                    <h6>DULCERIA</h6>
                    <p>San Juan del Rio, Qro.</p>
                    <p>427 793 3456</p>
                    <p>Abierto - Cierra a las 17:00</p>
                    <p>Compras en tienda</p>
                    <button>Leer mas</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<%- include ("templates/pie") %>