<p class="card-text">Ubicación: <%= negocio.ubicacion %><br>
                                 Teléfono: <%= negocio.telefono %><br>
                                 Descripción: <%= negocio.descripcion %><br></p>